.about {
  margin-bottom: 80px;
}

.about__description {
  width: 265px;
  text-align: center;
  margin: 0 auto;
}

.about__title {
  position: relative;
  text-align: center;
  padding-top: 60px;
  .title-decorate;
  margin-bottom: 41px;
}

.about__images {
  position: relative;
  margin-bottom: 65px;
  min-height: 307px;
}

.about__image {
  position: absolute;
}

.about__image--left {
  width: 165px;
  top: 0;
  left: -15px;
}

.about__image--right {
  width: 145px;
  top: 35px;
  right: -15px;
}

.about__text {
  font-size: 14px;
}

.about__link {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}

.about__link--phone {
  margin-bottom: 5px;
}

.about__link--mail {
  margin-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .about {
    margin-bottom: 160px;
  }

  .about__images {
    min-height: 465px;
    margin-bottom: 10px;
  }

  .about__image {
    width: 306px;
  }

  .about__image--left {
    left: 0;
  }

  .about__image--right {
    top: 50px;
    right: 0;
  }

  .about__description {
    display: flex;
    align-items: center;
    width: auto;
    /*justify-content: space-between;*/
  }

  .about__title {
    margin-bottom: 53px;

    &::before {
      top: -48px;
      height: 37px;
    }
  }

  .about__text {
    width: 306px;
    padding: 0 15px;
    text-align: left;
    margin-right: 27px;
    transform: translateY(-50px);
    font-size: 16px;
  }

  .about__contacts {
    width: 306px;
    text-align: left;
  }

  .about__link {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .about__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .about__images {
    width: 665px;
    margin-bottom: 0;
  }

  .about__description {
    flex-direction: column;
    justify-content: flex-end;
  }

  .about__text,
  .about__link {
    font-size: 18px;
  }

  .about__title {
    font-size: 36px;
  }
}
