.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio-title {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  .no-indentations;
  padding-top: 60px;
  .title-decorate;
  margin-bottom: 50px;
}

.portfolio-item {
  min-height: 473px;
  margin-bottom: 70px;
}

.portfolio-image {
  margin-bottom: 20px;
}

.portfolio-tag {
  display: block;
  margin-bottom: 10px;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
