.price {
  margin-bottom: 70px;
}

.price__item {
  margin-bottom: 75px;

  &:last-child {
    margin-bottom: 0;
  }
}

.price__title {
  position: relative;
  text-align: center;
  padding-top: 60px;
  .title-decorate;
}

.price__image {
  margin-bottom: 20px;
}

.price__text {
  font-size: 14px;
  text-align: center;
}
